.btn-plus-primary {
    color: #3699FF;
}

.btn-plus-primary i {
    font-size: 12px !important;
}

/* ============================ BEGIN MODAL CSS =========================== */
.modal-checkbox {
    display: inline-flex !important;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

/* ============================= END MODAL CSS ============================ */

/* ============================ BEGIN NOTIFIER CSS =========================== */
.form-group.has-notifier textarea {
    border: none;
    resize: none;
    height: 250px;
}

.form-group.has-notifier .label-info {
    background-color: #659be0;
}

/* ============================ END NOTIFIER CSS =========================== */