/* =========================== BEGIN NECESSARY STYLES =========================== */
.display-none {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.text-right {
    text-align: right !important;
}

.float-right {
    float: right !important;
}

.width-webkit-fill {
    width: -webkit-fill-available !important;
}

.inline-flex-center {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
}

/* ============================ END NECESSARY STYLES ============================ */

/* ============================= BEGIN COLOR STYLES ============================= */
.color-primary {
    color: #3699FF;
}

/* ============================== END COLOR STYLES ============================== */

/* ========================= BEGIN CUSTOM BUTTON STYLES ========================== */
.btn {
    border-radius: 5px !important;
}

.btn-c-primary {
    color: #FFFFFF;
    background-color: #3699FF;
    border-radius: 5px !important;
}

.btn-c-primary:hover {
    color: #FFFFFF;
    background-color: #2282e5;
}

.btn-c-primary:focus {
    color: #FFFFFF;
    background-color: #2282e5;
}

.btn-c-info {
    color: #FFFFFF;
    background-color: #2BC5BD;
    border-radius: 5px !important;
}

.btn-c-danger {
    color: #FFFFFF;
    background-color: #BB0000;
    border-radius: 5px !important;
}

.btn-c-grey {
    color: #FFFFFF;
    background-color: #7E8C9C;
    border-radius: 5px !important;
}

.btn-c-grey:hover {
    color: #FFFFFF;
    background-color: #596068;
}

.btn-c-no-border-primary {
    font-size: 24px !important;
    color: #3699FF;
}

.chbox-primary {}

/* ========================== END CUSTOM BUTTON STYLES =========================== */

/* ========================= BEGIN CUSTOM LABEL STYLES ========================== */
.label-active {
    color: #FFFFFF;
    background-color: #3797FC;
    border-radius: 5px !important;
    padding: 2px 6px !important;
}

.label-inactive {
    color: #FFFFFF;
    background-color: #7E8C9C;
    border-radius: 5px !important;
    padding: 2px 6px !important;
}

.label-info {
    color: #FFFFFF;
    background-color: #32C5D2;
    border-radius: 2px !important;
    padding: 2px 6px !important;
}

.label-active-noborder {
    color: black !important;
    font-weight: 600 !important;
}

.label-inactive-noborder {
    color: rgba(11, 11, 11, 0.5) !important;
    font-weight: 600 !important;
}

h4.section-head {
    font-weight: 600 !important;
    font-size: 16px !important;
    margin-top: 50px !important;
}

/* ========================== END CUSTOM LABEL STYLES =========================== */

/* ============================== BEGIN SIDEBAR STYLES ============================= */
.page-sidebar .page-sidebar-menu .nav-item .title {
    font-size: 12px !important;
}

.page-sidebar .page-sidebar-menu .nav-item i {
    font-size: 14px !important;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a {
    background: #3e4b5c !important;
    /* color: #000000 !important; */
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar .page-sidebar-menu .sub-menu>li>a:hover {
    background: #3e4b5c !important;
    /* color: #000000 !important; */
}

.page-sidebar .page-sidebar-menu>li.open>a {
    background: #3e4b5c !important;
}

.page-sidebar .page-sidebar-menu>li.active>a>i {
    color: #0C243c !important;
}

/* =============================== END SIDEBAR STYLES ============================== */

/* ============================== BEGIN FILEINPUT STYLES ============================= */
.fileinput .uneditable-input {
    height: 24px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    min-width: 0px !important;
    border-right: 0px !important;
}

.fileinput .btn-file {
    padding: 0px !important;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-radius: 0px !important;
    background: transparent !important;
}

.fileinput .input-group .input-group-btn .fileinput-exists {
    margin-top: -4px;
    margin-left: 0px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.fileinput .input-group .fileinput-exists.red {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    height: 24px !important;
    margin-top: -17px;
    padding: 2px 16px 6px 8px;
    border-color: #c2cad8;
    background-color: #c2cad8;
}

/* =============================== END FILEINPUT STYLES ============================== */

/* ======================= BEGIN DEFAULT COMPONENT STYLES ======================== */
body {
    background-color: #0C243C !important;
}

.table td,
.table th,
span,
button,
input,
select,
div,
i,
label,
textarea,
a {
    font-size: 12px !important;
}

i {
    font-size: 10px !important;
}

hr {
    margin-top: 0px !important;
    border-color: #666 !important;
}

.top-menu .nav .icon-bell {
    font-size: 17px !important;
}

.page-logo {
    background: #C9D1D5;
}

.page-logo a {
    color: #0C243C;
    font-weight: bold;
    text-decoration: none;
    margin-top: -2px;
}

.page-logo>a>h4 {
    font-size: 16px !important;
}

.page-header {
    background-color: white !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle:hover,
.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background: #C9D1D5 !important;
}

.page-content-wrapper,
.page-sidebar {
    background-color: #0C243C !important;
}

.page-sidebar-menu .nav-item span {
    font-weight: bold;
    font-size: 12px;
}

.page-sidebar .page-sidebar-menu>li.active>a {
    background: #C9D1D5 !important;
    color: #000000 !important;
}

.page-sidebar .page-sidebar-menu>li>a {
    border-top: 0px !important;
}

.page-sidebar .page-sidebar-menu>li:not(.active)>a:hover {
    background: #3e4b5c !important;
}

.page-footer {
    display: flex;
    background: #0C243c !important;
    justify-content: center;
}

.page-content,
.page-bar {
    background-color: #C9D1D5 !important;
}

.page-bar .page-toolbar {
    padding: 8px 0 6px !important;
}

.page-bar .page-toolbar .dropdown-menu i {
    font-size: 12px !important;
}


.portlet.light.portlet-fit>.portlet-body {
    padding: 20px 20px 20px 25px !important;
}

.scroll-to-top i {
    font-size: 30px !important;
}

/* ========================= END DEFAULT COMPONENT STYLES ========================== */

/* ============================ BEGIN BREADCRUMB STYLES ============================ */
.page-breadcrumb li {
    margin-right: 20px;
}

.page-breadcrumb li a {
    color: #0C243C;
    font-weight: bold;
}

.page-breadcrumb li a.bread-active {
    color: #3699FF !important;
}


/* #panel-employee-list .dataTable tbody td:last-child {
    display: inline-flex;
    column-gap: 3px;
} */

/* ============================= END BREADCRUMB STYLES ============================= */

/* ============================ BEGIN AJAX TABLE STYLES ============================ */
.tbl-ajax-tools {
    float: right;
    margin-bottom: 7px !important;
}

.tbl-ajax-tools .btn-tbl-action {
    color: #7E8C9C;
    font-size: 15px;
}

.tbl-ajax-tools .btn-tbl-action:hover {
    color: #3699FF;
}

.tbl-ajax-tools .btn-tbl-action {
    margin-left: 10px !important;
}

.tbl-ajax-tools .btn-tbl-action i {
    font-size: 16px !important;
}

/* .dataTable .filter-submit,
.dataTable .filter-cancel {
    margin-right: 0px !important;
} */

.dataTables_paginate .pagination-panel .prev,
.dataTables_paginate .pagination-panel .next,
.dataTables_paginate .pagination-panel .prev:active,
.dataTables_paginate .pagination-panel .next:active,
.dataTables_paginate .pagination-panel .prev:hover,
.dataTables_paginate .pagination-panel .next:hover {
    background-color: #3797FC;
    color: white;
}

.dataTable {
    width: -webkit-fill-available !important;
}

.table-striped th,
.table-striped td {
    text-align: center !important;
    vertical-align: middle !important;
}

.dataTable .label-primary {
    color: #FFFFFF;
    background-color: #3797FC;
    border-radius: 5px !important;
    padding: 4px 6px !important;
    width: 70px !important;
    display: inline-table !important;
}

.dataTable .label-info {
    color: #FFFFFF;
    background-color: #32C5D2;
    border-radius: 5px !important;
    padding: 4px 6px !important;
    width: 70px !important;
    display: inline-table !important;
}

.dataTable .label-grey {
    color: #FFFFFF;
    background-color: #7E8C9C;
    border-radius: 5px !important;
    padding: 4px 6px !important;
    width: 70px !important;
    display: inline-table !important;
}

.dataTable td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

/* ============================= END AJAX TABLE STYLES ============================= */

/* ============================ BEGIN AJAX TABLE STYLES ============================ */

.form-body .form-group label {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #7E8C9C;
}

.form-body .form-group input {
    border-radius: 5px;
    height: 24px !important;
    border: 1px solid #C9D1D5 !important;
    padding: 1px 12px;
}

.form-group.has-notifier input {
    border: none !important;
    border-bottom: 1px solid #c2cad8 !important;
    border-radius: unset !important;
}

.form-group.has-notifier .input-group-addon {
    padding: 0 12px !important;
    font-size: 14px !important;
    background: none;
    border: none;
    border-bottom: 1px solid #c2cad8 !important;
}

.form-group.has-notifier textarea {
    border: none;
    resize: none;
    height: 250px;
}


.form-body .form-group input[type=file] {
    margin-top: 4px !important;
    border: 0px solid !important;
}

.form-body .form-group select {
    border-radius: 5px !important;
    height: 24px !important;
    border: 1px solid #C9D1D5 !important;
    padding: 1px 12px;
}

.form-control {
    border-radius: 5px !important;
}

.form-group .input-group-btn .btn {
    padding: 1.9px 8px;
    border-color: #e1e5ec;
    border: 1px solid #C9D1D5 !important;
    background: white !important;
}

.input-group .form-control {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group .input-group-btn .btn {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    height: 24px !important;
    /* display: flex !important; */
    justify-content: center !important;
    align-items: center !important;
}

.input-sm {
    height: 24px !important;
    padding: 1px 10px !important;
}

.btn-sm {
    height: 24px !important;
    padding: 2px 10px !important;
}

/* ============================= END AJAX TABLE STYLES ============================= */

/* =============================== BEGIN TAB STYLES ==================================*/

.caption-helper:hover {
    color: #3699FF !important;
    font-weight: 700 !important;
    cursor: pointer;
}

.active-tab {
    color: #3699FF !important;
    font-weight: 700 !important;
}

.portlet-title {
    padding: 0px 19px !important;
    min-height: auto !important;
}

/* ================================ END TAB STYLES ===================================*/

/* =============================== BEGIN MODAL STYLES ==================================*/
.modal-header {
    border-bottom-color: #666666 !important;
}

.modal-header .modal-title {
    font-size: 16px;
    font-weight: bold;
    color: #3699FF;
}

/* ================================ END MODAL STYLES ===================================*/