#modal_edit_permission.modal.fade.in {
    top: 50% !important;
}

.modal.fade.in {
    top: 30% !important;
}


.form-group {
    margin-bottom: 0px !important;
}

                            
                            
